<!--nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">Add Person</a>
        </li>
    </ul>
</nav-->
<div class="container-fluid">
    <br>
    <div class="border clearfix shadow-lg d-flex p-3 bg-light text-black rounded-lg">

    <form class="form-inline">
        
            <div class="mr-sm-2 form-group">
                <label class="mr-sm-2">From: </label>
                <kendo-datetimepicker [format]="format" [(value)]="fromDate">
                </kendo-datetimepicker>
            </div>
      
        
            <div class=" mr-sm-2 form-group">
                <label class="mr-sm-2">To: </label>
                <kendo-datetimepicker [format]="format" [(value)]="toDate">
                </kendo-datetimepicker>
            </div>
      
        
            <div class="mr-sm-2 form-group">
                <button type="button" class="btn btn-primary" (click)="getData()">Search</button>
            </div>
     
      
            <div class=" mr-sm-2 form-group">
                <button type="button" class="btn btn-primary" (click)="plotTracks()">Plot Tracks</button>
            </div>
       
        
        <div class=" mr-sm-2 col float-right">
            <div class="form-group">
                <input type="text" class="mr-sm-2 form-control" id="region-ip" placeholder="Enter IP" name="region-ip">
                <button type="button" class="mr-sm-2 btn btn-primary" (click)="mergeData()">Merge Data</button>
            </div>
        </div>
        </form>

    </div>
    <br>
    <app-googlemap></app-googlemap>
</div>

<!--app-add-person></app-add-person-->