
<div class="container-fluid" style="padding-top: 50px;">

    <div class="border shadow-lg d-flex p-3 bg-light text-black justify-content-center rounded-lg">

      
      <div class="p-2">
        <h2>Import Data Using Excel File</h2>
        <br>

        <div class="input-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="fileUploader" name="fileUploader" accept=".xls, .xlsx">
            <label class="custom-file-label" for="fileUploader">Choose file</label>
          </div>
          <div class="input-group-append">
            <button class="btn btn-primary" type="button" (click)="onFileUpload()" >Add Data</button>
          </div>
          </div>
          <br>
          <div  class="mx-auto text-secondary" style="width:100px">
            <h2>OR</h2>
            </div>
          
      </div>
      
  </div>

<br>
  <div class="border shadow-lg d-flex p-3 bg-light text-black justify-content-center rounded-lg">

    <div class="p-2">
      <div class="mx-auto" style="width:300px">
    <h2>Add Data Manually</h2>
    </div>
        <br>

    <form  (ngSubmit)="onFormSubmit()" id="addPersonForm" [formGroup]="registerForm">
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="id">ID:</label>
            <input #id type="text" formControlName="id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.id.errors }" id="id" placeholder="Enter ID" name="id">
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="address">Address:</label>
            <input #address type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" id="address" placeholder="Enter Address" name="address">
            <div class="invalid-feedback">Please fill out this field.</div>

          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="city">City:</label>
            <input #city type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" id="city" placeholder="Enter City" name="city" >
            <div class="invalid-feedback">Please fill out this field.</div>

          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="state">State :</label>
            <input #state type="text" formControlName="state" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.state.errors }" id="state" placeholder="Enter State" name="state">
            <div class="invalid-feedback">Please fill out this field.</div>

          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <div class="checkbox">
              <label>Is Infected</label>  
              <input #infected type="checkbox" id="infected" value="" name="infected"> 
            </div>
          </div>
        </div>
      </div>

      <div class="form-row after-add-more">
        <div class="col">
          <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" formControlName="location" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.location.errors }" id="location" placeholder="Enter Location" name="location" required>
            <div class="invalid-feedback">Location is required.</div>
            <!-- <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
              <div *ngIf="f.location.errors.required">Location is required</div>
              </div> -->
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="mot">Mode of transport:</label>
            <input type="text" formControlName="mot" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mot.errors }" id="mot" placeholder="Mode of transport" name="mot" required>
            <div class="invalid-feedback">Please fill out this field.</div>

          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="from">From:</label>
            <!--input type="text" class="form-control" id="from" placeholder="From" name="from"-->
            <input formControlName="from" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.from.errors }" autocomplete="off" type="datetime-local"  id="from" name="from" required>
            <div class="invalid-feedback">Please fill out this field.</div>

          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label for="to">To:</label>
            <!--input type="text" class="form-control" id="to" placeholder="To" name="to"-->
            <input formControlName="to" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.to.errors }" autocomplete="off" type="datetime-local"  id="to" name="to" required>
            <div class="invalid-feedback">Please fill out this field.</div>

          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <div class="input-group-btn">
              <button class="btn btn-success add-more" type="button"><i class="glyphicon glyphicon-plus"></i>
                Add</button>
            </div>
          </div>
        </div>
      </div>
   
      <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
    </form>
    </div>
    </div>
    <!-- Copy Fields -->
    <div class="copy d-none">
  
      <div class="control-group form-row was-validated">
        <div class="col">
          <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" class="form-control" id="location" placeholder="Enter Location" name="location" required>
            <div class="invalid-feedback">Please fill out this field.</div>
            
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="mot">Mode of transport:</label>
            <input type="text" class="form-control" id="mot" placeholder="Mode of transport" name="mot" required> 
            <div class="invalid-feedback">Please fill out this field.</div>

          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="from">From:</label>
            <!--input type="text" class="form-control" id="from" placeholder="From" name="from"-->
            <input class="form-control" type="datetime-local" autocomplete="off" id="from" name="from" required>
            <div class="invalid-feedback">Please fill out this field.</div>

          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="to">To:</label>
            <!--input type="text" class="form-control" id="to" placeholder="To" name="to"-->
            <input class="form-control" type="datetime-local" autocomplete="off" id="to" name="to" required>
            <div class="invalid-feedback">Please fill out this field.</div>

          </div>
        </div>
        <div class="col">
          <div class="input-group-btn">
            <button class="btn btn-danger remove" type="button"><i class="glyphicon glyphicon-remove"></i>
              Remove</button>
          </div>
       
      </div>
    </div>
</div>

  </div>
