<div class="container-fluid" style="padding-top: 50px;">
    <!--input type="file" id="fileUploader" name="fileUploader" accept=".xls, .xlsx" />

    <button class="btn btn-success" type="button" onclick="importData()">Add Data</button-->
    <form (ngSubmit)="onFormSubmit()" id="addPersonForm">
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="id">ID:</label>
            <input #id type="text" class="form-control" id="id" placeholder="Enter ID" name="id">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="address">Address:</label>
            <input #address type="text" class="form-control" id="address" placeholder="Enter Address" name="address">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="city">City:</label>
            <input #city type="text" class="form-control" id="city" placeholder="Enter City" name="city">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="state">State :</label>
            <input #state type="text" class="form-control" id="state" placeholder="Enter State" name="state">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <div class="checkbox">
              <label>Is Infected</label>  
              <input #infected type="checkbox" id="infected" value="" name="infected"> 
            </div>
          </div>
        </div>
      </div>
      <div class="form-row after-add-more">
        <div class="col">
          <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" class="form-control" id="location" placeholder="Enter Location" name="location">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="mot">Mode of transport:</label>
            <input type="text" class="form-control" id="mot" placeholder="Mode of transport" name="mot">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="from">From:</label>
            <!--input type="text" class="form-control" id="from" placeholder="From" name="from"-->
            <input class="form-control" autocomplete="off" type="datetime-local"  id="from" name="from">
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label for="to">To:</label>
            <!--input type="text" class="form-control" id="to" placeholder="To" name="to"-->
            <input class="form-control" autocomplete="off" type="datetime-local"  id="to" name="to">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <div class="input-group-btn">
              <button class="btn btn-success add-more" type="button"><i class="glyphicon glyphicon-plus"></i>
                Add</button>
            </div>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
    </form>
    <!-- Copy Fields -->
    <div class="copy d-none">
      <div class="control-group form-row">
        <div class="col">
          <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" class="form-control" id="location" placeholder="Enter Location" name="location">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="mot">Mode of transport:</label>
            <input type="text" class="form-control" id="mot" placeholder="Mode of transport" name="mot">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="from">From:</label>
            <!--input type="text" class="form-control" id="from" placeholder="From" name="from"-->
            <input class="form-control" type="datetime-local" autocomplete="off" id="from" name="from">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="to">To:</label>
            <!--input type="text" class="form-control" id="to" placeholder="To" name="to"-->
            <input class="form-control" type="datetime-local" autocomplete="off" id="to" name="to">
          </div>
        </div>
        <div class="col">
          <div class="input-group-btn">
            <button class="btn btn-danger remove" type="button"><i class="glyphicon glyphicon-remove"></i>
              Remove</button>
          </div>
        </div>
      </div>
    </div>
  </div>
